<!DOCTYPE html>
<html>
	<head>
		<title>flyly</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="../public/stylesheets/styles.css">
		
		<script src="../public/javascripts/jquery.min.js"></script>
	</head>
	<body>
		<div class="jumbotron" id="header">
			<div class="container">
				<a href="index.html"><h1>flyly</h1></a>
			</div>
		</div>
		<div class="container-fluid" id="body">
			<div class="container">

				<div id="description">
					<div class="jumbotron text-center">
						<h2>flyly the chat app<br>this does this stuff and this stuff</h2>
					</div>
				</div>

				<!-- 1 -->
				<div class="row front-page-elem">
					<div class="col-xs-12 col-sm-4 col-md-4">
						<img class="front-page-elem-left" src="../public/images/profile.png">
					</div>
					<div class="col-xs-12 col-sm-8 col-md-8">
						<h2>has ez login</h2>
						<p>yeah dude</p>
					</div>
				</div>
				<!-- 2 -->
				<div class="row front-page-elem">
					<div class="col-xs-12 col-sm-8 col-md-8">
						<h2>uses sockets</h2>
						<p>so ez comet</p>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<img class="front-page-elem-right" src="../public/images/profile.png">
					</div>
				</div>
				<!-- 3 -->
				<div class="row front-page-elem">
					<div class="col-xs-12 col-sm-4 col-md-4">
						<img class="front-page-elem-left" src="../public/images/profile.png">
					</div>
					<div class="col-xs-12 col-sm-8 col-md-8">
						<h2>does ajax stuff</h2>
						<p>4 of them</p>
					</div>
				</div>
				<!-- 4 -->
				<div class="row front-page-elem">
					<div class="col-xs-12 col-sm-8 col-md-8">
						<h2>watsapp webb like</h2>
						<p>FeelsGoodMan 🙃</p>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<img class="front-page-elem-right" src="../public/images/profile.png">
					</div>
				</div>


				<br>
				<hr class="colorgraph">
				<div class="jumbotron text-center">
					<div class="container">
						<a href="login.html"><h1>LOGIN</h1></a>
					</div>
				</div>
				<hr class="colorgraph">
				<div class="jumbotron text-center">
					<div class="container">
						<a href="chat.php"><h1>GO TO CHAT PAGE!</h1></a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>