<!DOCTYPE html>
<html>
	<head>
		<title>flyly</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="../public/stylesheets/styles.css">
		
		<script src="../public/javascripts/jquery.min.js"></script>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<a href="index.html"><h1>flyly</h1></a>
			</div>
		</div>
		<div class="container-fluid">
			<hr class="colorgraph">
			<hr class="colorgraph">
			
			<div class="well">
				<a href="login.html" class="text-center"><h1>LOGIN</h1></a>
			</div>
			<hr class="colorgraph">
			<br><br>
			<div class="well">
				Featues!!
			</div><div class="well">
				Featues!!
			</div><div class="well">
				Featues!!
			</div>
		</div>
	</body>
</html>