<!DOCTYPE html>
<html>
	<head>
		<title>signup</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="../public/stylesheets/styles.css">
		
		<script src="../public/javascripts/jquery.min.js"></script>
		<script src="../public/javascripts/bootstrap.min.js"></script>
		
		<script type="text/javascript">
			// move to external script files
			function uploadProfile() {
				console.log('upload');
			}

			// "aesthetic value"
			function expandCard() {
				document.getElementById('signup-card').style.maxWidth = "750px";
				console.log('poop');
			}
		</script>
		<script type="text/javascript" src="../public/javascripts/confirmPassword.js"></script>
	</head>
	<body onload="expandCard()">
		<div class="jumbotron">
			<div class="container">
				<a href="index.html"><h1>flyly</h1></a>
			</div>
		</div>
		<div id="login" class="container">
			<div class="card signup-card-container" id="signup-card">

				<form action="../public/phpscripts/signup.php" method="POST" role="form" onsubmit=" return validate();">
					<img id="profile-img" class="profile-img-card" src="../public/images/profile.png" onclick="uploadProfile()">
					<hr class="colorgraph">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" id="first_name" class="form-control input-md" placeholder="First Name" tabindex="1" name="firstname" required />
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" id="last-name" class="form-control input-md" placeholder="Last Name" tabindex="2" name="lastname" required />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" class="form-control input-md" id="input-username" placeholder="Username" name="username" onblur = "validateUsername()" required />
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="email" id="email" class="form-control input-md" placeholder="Email Address" name="email" required />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="password" class="form-control input-md" id="password" placeholder="Password" name="password" onkeyup="verifyPassword()" required>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="password" id="password-confirmation" class="form-control input-md" placeholder="Confirm Password" onkeyup="verifyPassword();" required data-toggle="popover" data-placement="top" data-content="Mismatched Passwords">
							</div>
						</div>
					</div>
			
					<br>

					<div class="form-group">
						<input type="submit" id="register-btn" class="btn btn-md btn-success btn-block" value="Register">
					</div>
				</form>

				<hr class="colorgraph">

			</div>
		</div>
	</body>
</html>