@import url(https://fonts.googleapis.com/css?family=Kalam);
/*
	TODO: find a good font;
*/

body, html {
	height: 100%;
	background-repeat: no-repeat;
	background-color: rgb(122, 169, 207);
}

h1 {
	font-family: "Kalam", "PilGi", "Comic Sans MS";
}

h2 {
	/* kek */
	font-family: "Comic Sans MS";
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

#body {
	background-color: white;
}

#header {
	background-color: rgb(122, 169, 207);
}

#description {
	height: 17%;
}

#register-btn {
	transition: 0.5s;
}

.jumbotron {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: white;
	padding-left: 50px;
}

.front-page-elem {
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 8%;
	background-color: rgba(230, 230, 230, 0.5);
	border-radius: 5px;
}

.front-page-elem-left {
	float: left;
	width: 70%;
	margin-left: 30%;
}

.front-page-elem-right {
	float: right;
	width: 70%;
	margin-right: 30%;
}


.card-container.card {
	max-width: 350px;
	padding: 40px 40px;
}

.signup-card-container.card {
	padding: 40px 40px;
}

#signup-card {
	max-width: 350px;
	transition: 0.7s ease-in-out;
}

.btn {
	font-weight: 700;
	height: 36px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

.card {
	background-color: #F7F7F7;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 50px;
	border-radius: 5px;
	/*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}

.profile-img-card {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.profile-name-card {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
}

.forgot-password {
	color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
	color: rgb(12, 97, 33);
}

/* unnecessary stuff. looks good so why not ¯\_(ツ)_/¯ */
.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/* ------------------------------------------------------------------------------------------------------------------------------*/
/* chat page*/ 

.threads {
	transition: 0.3s;
	height: 7%;
	padding-left: 10%;
	padding-top: 2vh;
	padding-bottom: 8vh;
}

.threads:hover {
	background-color: #6A6C75;
	cursor: pointer;
	transition: 0.3s;
}

.threads img {
	height: 6vh;
}

.threads .name {
	margin-left: 2%;
	font-size: 18px;
}

.threads .preview {
	/* todo */
}

#threads-list {
	height: 90%;
	overflow: scroll;
}

#search {
	height: 10%;
	border-bottom: 2px solid #ccc;
}

#search input {
	height: 55%;
	border: none;
	color: white;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 15px;
	width: 80%;
	background: #6A6C75;
	border-radius: 5px;
	font-size: 17px;
	transition: 0.2s ease-in-out;
}

#search input:focus, #search input:hover {
	outline: none;
	background-color: rgb(204, 204, 204);
	transition: 0.2s ease-in-out;
}

#hamburger {
	font-size: 17px;
	cursor: pointer;
	color: white;
}

#area {
	margin-top: 7vh;
	margin-bottom: 7vh;
}

#left-pane, #right-pane {
	/* vh => percentage of viewport height */
	height: 83vh;
	padding: 0 0 0 0;
}

#left-pane {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	background-color: rgb(68, 70, 83);
	color: white;
}

#right-pane {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#right-pane-header {
	height: 10%;
	font-size: 22px;
	background-color: rgb(242, 245, 248);
	border-top-right-radius: 10px;
	border-bottom: 2px solid #ccc;
	padding-left: 15px;
	display: flex;
	align-items: center;
	overflow: hidden;
}

#conversation-area {
	height: 80%;
	background-color: rgb(242, 245, 248);
	overflow: scroll;
}

#msg-input {
	height: 10%;
	background-color: rgb(242, 245, 248);
	border-bottom-right-radius: 10px;
	border-top: 2px solid #ccc;
	/* vertical align */
	display: flex;
	align-items: center;
}

#msg-input input {
	display: flex;
	align-items: center;
	width: 70%;
	margin: 0 auto;

	border: none;
	color: black;
	padding-left: 15px;
	background-color: #6A6C75;
	border-radius: 5px;
	font-size: 17px;
	transition: 0.2s ease-in-out;
}

#msg-input input:hover, #msg-input input:focus {
	background-color: white;
	outline: none;
}

#profile-pic {
	height: 6.5vh;
	margin-left: 5%;
}

#profile-name {
	/* try to fix this */
	float: right;
	margin-left: 5%;
	font-size: 20px;
}

.conv-left {
	position: relative;
	width: 60%;
	font-size: 15px;
	border-radius: 5px;
	border: none;
	background-color: rgb(115, 195, 112);

	margin-left: 5%;
	margin-top: 10px;
	margin-bottom: 10px;

	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;

	float: left;
	align-self: flex-start;
}

.conv-right {
	position: relative;
	width: 60%;
	font-size: 15px;
	border-radius: 5px;
	border: none;
	background-color: rgb(141, 193, 231);

	margin-right: 5%;
	margin-top: 10px;
	margin-bottom: 10px;

	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;

	float: right;
	align-self: flex-start;
}

#send-btn {
	margin-right: 5%;
	background-color: #6A6C75;
	color: white;
}

@media all and (max-width: 992px) {
	/* mobile view */
	#left-pane {
		position: fixed;
		overflow: hidden;
		white-space: nowrap;
		width: 0%;
		transition: 0.5s ease-in-out;
		z-index: 1;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		background-color: rgba(68, 70, 83, 0.95);
	}
	#full-view {
		display: none;
	}
	#right-pane, #msg-input, #right-pane-header {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	#hamburger {
		font-size: 4vh;
		color: black;
	}
	#hamburger-left {
		font-size: 4vh;
		color: white;
		padding-left: 15px;
	}
	#area {
		margin-top: 0;
		margin-bottom: 0;
	}
	#left-pane, #right-pane {
		height: 100vh;
	}
	#search {
		display: flex;
		align-items: center;
	}

	.front-page-elem-left, .front-page-elem-right {
		margin: auto;
	}

	.threads {
		position: relative;
	}
}

@media all and (min-width: 992px) {
	/* large screen view */
	#hamburger, #hamburger-left {
		display: none;
	}
}