@import url(https://fonts.googleapis.com/css?family=Kalam);
/*
	TODO: find a good font;
*/

/* global styles */
body, html {
	height: 100%;
	background-repeat: no-repeat;
	background-color: #2b3f51;
	background-image: url("../images/wp.jpg");
}

h1 {
	font-family: "Kalam", "PilGi", "Comic Sans MS";
}

h2 {
	/* kek */
	font-family: "Comic Sans MS";
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

.jumbotron {
	padding-top: 3.5vh;
	padding-bottom: 3.5vh;
	background-color: white;
	padding-left: 50px;
	margin-bottom: 0;
}

/* unnecessary stuff. looks good so why not ¯\_(ツ)_/¯ */
.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


/* -------------------------------------------------------------------------- */
/* home page */

/* modifying background of container */
#body {
	margin-top: 0;
	padding-top: 0;
	background-color: white;
}

/* modifying jumbotron of home page */
/* might change it later */
#header {
	background-color: rgb(122, 169, 207);
}

/* div that gives an intro to project */
#description {
	height: 17%;
}

/* elements that show the feature list */
.front-page-elem {
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 8%;
	background-color: rgba(230, 230, 230, 0.5);
	border-radius: 5px;
}

.front-page-elem-left {
	float: left;
	width: 70%;
	margin-left: 30%;
}

.front-page-elem-right {
	float: right;
	width: 70%;
	margin-right: 30%;
}


/* -------------------------------------------------------------------------- */
/* login and signup page */

/* styles for login and signup cards */
.card {
	background-color: #F7F7F7;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 9%;
	border-radius: 5px;
}

.login-card-container.card {
	max-width: 350px;
	padding: 40px 40px;
}

.signup-card-container.card {
	padding: 40px 40px;
}

.profile-img-card {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	border-radius: 50%;
}

.forgot-password {
	color: rgba(104, 145, 162, 0.6);
}

.forgot-password:hover {
	color: blue;
}

/* used for lading animation */
#signup-card {
	max-width: 350px;
	transition: 1s ease-in-out;
}

/* used for enabling and disabling w/ js */
#register-btn {
	transition: 0.5s;
}


/* -------------------------------------------------------------------------- */
/* chat page*/ 

/* left + right
 * used for fixing a bug with mobile view */
#area {
	margin-top: 7vh;
	margin-bottom: 7vh;
}

#left-pane, #right-pane {
	/* vh => percentage of viewport height */
	height: 83vh;
	padding: 0 0 0 0;
}

#left-pane {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #322e32;
	color: white;
}

#right-pane {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}


/* left pane elements */

/* search bar */
#search {
	height: 10%;
	border-bottom: 2px solid #ccc;
}

#search input {
	height: 55%;
	border: none;
	color: white;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 15px;
	width: 80%;
	background: #6A6C75;
	border-radius: 5px;
	font-size: 17px;
	transition: 0.2s ease-in-out;
}

#search input:focus, #search input:hover {
	/* TODO */
	outline: none;
	background-color: rgb(204, 204, 204);
	transition: 0.2s ease-in-out;
}

/* conversation threads classes */
.threads {
	transition: 0.3s;
	height: 7%;
	padding-left: 10%;
	padding-top: 2vh;
	padding-bottom: 8vh;
}

.threads:hover {
	background-color: #6A6C75;
	cursor: pointer;
	transition: 0.3s;
}

.threads img {
	height: 6vh;
}

.threads .name {
	margin-left: 2%;
	font-size: 18px;
}

.threads .preview {
	/* TODO */
	/* make it appear in the next line */
}

/* div containing the threads */
#threads-list {
	height: 90%;
	overflow: scroll;
}


/* right pane elements */

/* place for profile pic and name
 * and probably the search feature */
#right-pane-header {
	height: 10%;
	font-size: 22px;
	background-color: rgb(242, 245, 248);
	border-top-right-radius: 10px;
	border-bottom: 2px solid #ccc;
	padding-left: 15px;
	overflow: hidden;
	/* vertical align */
	display: flex;
	align-items: center;
	
}

/* hamburger menu icon */
#hamburger {
	font-size: 17px;
	cursor: pointer;
	color: white;
}

/* settings icon */
#logout {
	/* TODO */
	cursor: pointer;
	margin-left: 35vw;
	font-size: 24px;
}

#profile-pic {
	height: 6vh;
	margin-left: 5%;
}

#profile-name {
	/* try to fix this */
	float: right;
	margin-left: 5%;
	font-size: 20px;
}

/* area for messages */
#conversation-area {
	height: 80%;
	background-color: rgb(242, 245, 248);
	overflow: scroll;
	transition: 0.2s ease-in-out;
}

.conv-left, .conv-right {
	position: relative;
	width: 60%;
	font-size: 15px;
	border-radius: 5px;
	border: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* other person */
.conv-left {
	background-color: #cbcac6;
	margin-left: 5%;
	padding-left: 15px;
	
	/* flex-start (default): items are packed toward the start line 
	 * more on it:
	 * 	https://css-tricks.com/snippets/css/a-guide-to-flexbox/
	 */
	float: left;
	align-self: flex-start;
}

/* user */
.conv-right {
	background-color: #72a9d1;
	margin-right: 5%;
	padding-right: 15px;
	text-align: right;

	float: right;
	align-self: flex-start;
}

/* field to enter message and send
 * TODO:
 * 	add a button for adding source code
 *	prism.js
 */

#msg-input {
	height: 10%;
	background-color: rgb(242, 245, 248);
	border-bottom-right-radius: 10px;
	border-top: 2px solid #ccc;
	transition: 0.2s ease-in-out;
	display: flex;
}

#msg-box {
	/* TODO */
	height: 50%;
	width: 70%;
	margin: 0 auto;
	padding-left: 15px;
	background-color: #61686a;
	border-radius: 5px;
	font-size: 2vh;
	transition: 0.2s ease-in-out;
	z-index: 0;
	overflow: scroll;
	align-self: center;
}

#msg-box:hover, #msg-box:focus {
	/* TODO */
	background-color: #6A6C75;
	outline: none;
}

/* send button */
#send-btn {
	height: 4vh;
	margin-right: 5%;
	background-color: #6A6C75;
	color: white;
	align-self: center;
}

/* button for highlighted code */
#sned-code-btn {
	/* TODO */
	/* prism.js or highlight.js */
}


/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* handling mobile view */

/* mobile view */
@media all and (max-width: 992px) {
	/* make left pane hidden[width = 0] and add transition to set width to 100%; */
	#left-pane {
		width: 0%;
		position: fixed;
		overflow: hidden;
		white-space: nowrap;
		z-index: 1;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		background-color: rgba(68, 70, 83, 0.95);
		transition: 0.5s ease-in-out;
	}

	/* remove borders radius in mobile view */
	#right-pane, #msg-input, #right-pane-header {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	/* hanburgers */
	#hamburger {
		font-size: 4vh;
		color: black;
	}

	#hamburger-left {
		font-size: 4vh;
		color: white;
		padding-left: 15px;
	}

	#logout {
		/* TODO */
		margin-left: 40vw;
		font-size: 4vh;
	}


	/* make area full screen */
	#area {
		margin-top: 0;
		margin-bottom: 0;
	}

	#left-pane, #right-pane {
		height: 100vh;
	}
	
	/* center search bar */
	#search {
		display: flex;
		align-items: center;
	}

	#conversation-area {
		height: 80vh;
	}

	#msg-box {
		margin-left: 5%;
		margin-right: 2%;
	}

	/* TODO
	 * still broken
	 */
	.front-page-elem-left, .front-page-elem-right {
		margin: auto;
	}

	.threads {
		position: relative;
	}

	.card {
		margin-top: 8vh;
	}
}


/* large screen view */
@media all and (min-width: 992px) {
	/* hamburgers invisble in web view */
	#hamburger, #hamburger-left {
		display: none;
	}

	/* shouldv'e fixed
	 * is still broken
	 * feelsbadman */
	#left-pane {
		width: 33.33%;
	}
}

/*
@media not all and (min-resolution:.001dpcm) {
	@media {
		.chrome_only { 
			::-webkit-scrollbar { 
				display: none; 
			}
		}
	}
}*/

@supports (-webkit-appearance:none) and (not (overflow:-webkit-marquee))
and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none) {
	::-webkit-scrollbar { 
		display: none; 
	}
}