/*	
	flyly
	styles.css
*/

body, html {
	height: 100%;
	background-repeat: no-repeat;
	/*background-image: linear-gradient(rgb(126, 158, 83), rgb(66, 196, 231));*/
	/*background-color: rgb(161, 195, 227);*/
	background-color: #74afad;
}


a:hover {
	cursor: pointer;
	text-decoration: none;
}

.card-container.card {
	max-width: 350px;
	padding: 40px 40px;
}

.signup-card-container.card {
	max-width: 750px;
	padding: 40px 40px;
}

.btn {
	font-weight: 700;
	height: 36px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

.card {
	background-color: #F7F7F7;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 50px;
	border-radius: 5px;
	/*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}

.profile-img-card {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.profile-name-card {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
}

.forgot-password {
	color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
	color: rgb(12, 97, 33);
}

/* unnecessary stuff. looks good so why not ¯\_(ツ)_/¯ */
.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/* ------------------------------------------------------------------------------------------------------------------------------*/
/* chat page*/ 

.threads {
	transition: 0.3s;
	padding: 4%;
	padding-left: 10%;
}

.threads:hover {
	background-color: #666666;
	cursor: pointer;
	transition: 0.3s;
}

.threads img {
	width: 15%;
	height: 15%;
}

.threads .name {
	margin-left: 2%;
	font-size: 18px;
}

.threads .preview {
	/* todo */
}

#search {
	height: 8%;
}

#search input {
	border: none;
	color: white;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	padding: 8px;
	background: #6A6C75;
	border-radius: 5px;
	font-size: 17px;
	transition: 0.2s ease-in-out;
}

#search input:focus, #search input:hover {
	outline: none;
	background-color: rgb(204, 204, 204);
	transition: 0.2s ease-in-out;
}

#chat-area-header {
	height: 8%;
	font-size: 22px;
}

#hamburger {
	font-size: 17px;
	cursor: pointer;
	color: white;
}

#threads-list, #chat-area {
	/* vh => percentage of viewport height */
	height: 83vh;
	padding: 0 0 0 0;
	margin-top: 7vh;
}

#threads-list {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	background-color: rgb(68, 70, 83);
	color: white;
	overflow: scroll;
}

#chat-area {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #ccc;
}

#conversation-area {
	height: 78%;
	background-color: white;
}

@media all and (max-width: 992px) {
	/* mobile view */
	#threads-list {
		position: fixed;
		overflow: hidden;
		white-space: nowrap;
		width: 0%;
		transition: 0.5s ease-in-out;
		z-index: 1;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
	}
	#full-view {
		display: none;
	}
	#chat-area {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}

@media all and (min-width: 992px) {
	/* large screen view */
	#hamburger {
		display: none;
	}
}